.semester_card {
    width: 400px;
    background-color: #efeff6;
    border-radius: 15px;
}
td {
    font-size: 14px;
    margin-right: 0.75rem;
}
table, tr, td {
    padding-right: 0.25rem;
}

.semester_links {
    color: #10277c;
    font-weight: 600;
    margin-left: 0.25rem;
}