.sidebar {
    background-color: #10277c !important;
}

.logo_img {
    height: 70px !important;
    width: 70px !important;
}
h6 {
    color: white;
}
h6 {
    font-size: 14px;
}
.links {
    color: white;
    font-size: 12px;
}

.date {
    height: 150px; 
    background-color: #FFF;
}

.quick_links {
    height: 80px;  
    background-color: #fff;
}

.q_links {
    font-size: 10px;
    color: #bab9b9;
    line-height: 0rem;
}